p{
  font-size: 1vw;
  color: var(--text-color2);
  font-weight: bolder;
}

h3{
  font-weight: 500;
}

.wrapper *{
  padding: 1em;
}

.last-wrapped{
  text-align: end;
}

.wrapper-gray{
  background-color: #EEE;
}

.wrapper-blue{
  background-color: var(--blue-background);
}

.wrapper-top{
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  margin-top: 5vh;
}

.wrapper-bottom{
  margin-bottom: 5vh;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em;
}
