<footer>
  <div class="container">
    <img class="logo" src="../../../assets/img/logo.png" alt="logo">
    <div class="footerElement">
      <h3>NOS COORDONNEES</h3>
      <p>06.34.72.49.33</p>
      <p>glenn.gendre@gmail.com</p>
      <p class="lastP">5. Quai Sainte Croix 33800 Bordeaux</p>
    </div>
    <div class="footerElement">
      <h3>INFORMATIONS</h3>
      <p class ="footerLink" routerLink="/legal" routerLinkActive="active" > Mentions légales</p>
      <p class ="footerLink" routerLink="/legal" routerLinkActive="active">  Protection des données personnelles</p>
      <p class="lastP" routerLink="/claim" routerLinkActive="active">Réclamations</p>
    </div>
    <div class="footerElement">
      <h3>DIVERS</h3>
      <p class ="footerLink" routerLink="/recruitment" routerLinkActive="active">Recrutement</p>
      <p class ="footerLink" routerLink="/partnership" routerLinkActive="active">Nos partenaires</p>
      <p class="lastP" routerLink="/corporate" routerLinkActive="active">Notre société</p>
    </div>
  </div>

</footer>
