.rdv-wrapper{
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.case-study{
  background-color: var(--blue-background);
  border-radius: 2em;
  margin-bottom: 4vh;
}

.case-study *{
  padding: 1vh;
}

.case-study h3{
  color: var(--text-color2);
  padding-left : 5vh
}

.investment-infos{
  text-align: start;
  width : 100%
}

.example-container{
  display: flex;
  width : 100%;
  justify-content: space-around;
  align-items: flex-end;
  margin-bottom: 2vh;
}

.example-block p{
  font-size: 1vw;
  color: rgb(160, 160, 160);
  font-weight: bold;
  width: 100%;
  text-align: center;
  margin-bottom: 1vh;
}

.example-number{
  display: flex;
  height: 5vw;
  width: 15vw;
  background-color: #80d4ff;
  border-radius: 25px;
  justify-content: center;
  align-items: center;
  font-size: 2vw;
  color: white;
}

.example-quote{
  font-style: italic;
  text-align: center;
  width: 100%;
  font-size: 0.6vw;
}

.case-img{
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.realisations{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  margin: 5vh auto
}

.realisations div{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5em;
  width: 20%;
}

.realisations h4{
  color: var(--text-color2)
}

.realisations hr{
  width: 30%;
  height: 1px;
  background-color: var(--text-color2);
  border: 1px solid var(--text-color2)
}

.bottom-study-div{
  display: flex;
  justify-content: flex-end;
}

.bottom-study-number{
  border-radius: 50%;
  background-color: #DCE4FE;
  height: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2vw;
}

.video-container{
  display: flex;
  justify-content: center;
}

