<div class="all-wrapper">

  <div class="wrapper">
    <img src="/assets/img/visuel3.png" alt="femme à son bureau">
    <div class="wrapped-text-right wrapped-text">
      <h4>- L'audit patrimonial, une approche globale de votre environnement</h4>
      <p>Choisissez l'expertise adéquate pour auditer votre patrimoine. Nos connaissances en stratégies financières vous feront bénéficier d’un accompagnement judicieux dans vos choix, afin d’optimiser vos revenus, créer de la valeur et réduire votre fiscalité.</p>
    </div>
  </div>

  <div class="spark-container-right">
    <img class="spark" src="/assets/img/Spark.png" alt="sparks">
  </div>

  <div class="wrapper">
    <div class="wrapped-text-left wrapped-text">
      <h4>- L'optimisation d'un patrimoine immobilier</h4>
      <p>Location nue, LMNP, LMP, SCI, SARL, SAS, dispositifs fiscaux, sont des exemples de statuts liés à une exploitation immobilière. Vous ne savez pas lequel est le plus adapté à votre situation actuelle ou vos projets futurs ? Nous vous proposons d'étudier votre situation et de mettre en comparaison les avantages et inconvénients de chacun d'entre eux pour vous faire adopter la ou les structures adaptées à votre situation.</p>
    </div>
    <img src="/assets/img/visuel8.png" alt="homme d'affaires">
  </div>

  <div>
    <img class="spark" src="/assets/img/Spark.png" alt="sparks">
  </div>

  <div class="wrapper">
    <img src="/assets/img/visuel9.jpg" alt="homme d'affaires">
    <div class="wrapped-text-right wrapped-text">
      <h4>- Transmission de patrimoine</h4>
      <p>Dès lors que l’on se voit posséder des actifs, il est important de réfléchir à la question de leur transmission . En effet c’est une action qui se doit d’être établie au préalable afin d’en optimiser les bénéfices, c’est pourquoi nous serrons à même de vous guider dans ces choix en structurant votre patrimoine, afin d'avoir une vision claire.</p>
    </div>
  </div>

  <div class="rdv-container">
    <apa-appointment-button></apa-appointment-button>
  </div>
</div>
