#title {
    text-align: center;
    font-size: larger;
    font-weight: lighter;
    text-decoration: underline;
}

.aurias {
  font-weight: bolder;
}

.subtitle {
  font-weight: bolder;
  color : blue;
  margin-bottom: 5px;
}
#main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 60%;
  background-image: url("/assets/img/Background2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;


}


.paragraph {
  margin-top: 10px;
  text-align: justify;

}

.lastMention {
  margin-top: 20px;
  margin-bottom: 5px;
  font-style: italic;
  color : grey;
}
span {
  font-weight: bolder;
}
