div{
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

h3{
  text-align: center;
  margin-top: 3vh;
}
hr.solid {
  border: 1px solid var(--text-color);
  width: 15%;
  margin : 2vh auto
}

.img-container{
  margin-top: 5vh;
}
img{
  width: 50%;
}
