<div class="container">
  <apa-simulator></apa-simulator>
</div>
<apa-appointment-button></apa-appointment-button>
<div class="all-wrapper">

  <div class="mortgage-wrapper">
    <div class="mortgage-container">
      <h4>Obtenez les meilleurs taux pour votre projet immobilier</h4>
      <p>Exemple de mensualités pour 200 000€ empruntés</p>
    </div>
    <img class="central-big-img" src="/assets/img/mensualite.png" alt="exemples de mensualités pour 200 000€">
  </div>

  <div class="wrapper">
    <img src="/assets/img/visuel5.png" alt="dessin de maison">
    <div class="wrapped-text-right wrapped-text">
      <h4>- Votre projet immobilier au coeur de notre préoccupation</h4>
      <p>Nos courtiers sont experts en tous types de financements, nous vous garantissons une implication et des conseils sur mesure. Nous négocions pour vous les meilleures conditions d'emprunt pour vos projets.</p>
    </div>
  </div>

  <div class="spark-container-right">
    <img class="spark" src="/assets/img/Spark.png" alt="sparks">
  </div>

  <div class="wrapper">
    <div class="wrapped-text-left wrapped-text">
      <h4>- Disponibilité et réactivité </h4>
      <p>Ce sont nos mots d'ordre, nous vous garantissons un rendez-vous sous 24h pour l'étude et la faisabilité de votre projet. Les dossiers sont montés rapidement et efficacement afin d'entamer les démarches auprès des établissements de crédits, pour obtenir un retour dans les plus brefs délais. Nous sommes là pour vous faire gagner du temps, c'est pourquoi nous adaptons notre agenda en fonction de vos disponibilités.</p>
    </div>
    <img src="/assets/img/visuel6.jpg" alt="dessin avec logo 24heures">
  </div>

  <div>
    <img class="spark" src="/assets/img/Spark.png" alt="sparks">
  </div>

  <div class="wrapper">
    <img src="/assets/img/visuel7.jpg" alt="dessin de projets entre les mains d'une personne">
    <div class="wrapped-text-right wrapped-text">
      <h4>- Une équipe de professionnels expérimentés </h4>
      <p>Courtage Patrimoine, c'est le choix d'avoir des courtiers ayant une connaissance parfaite des crédits, vous assurant d'importantes économies. Nous sommes spécialisés dans le prêt immobilier, les rachats et regroupements de crédits ainsi que l'assurance emprunteur. Nous vous proposons une étude gratuite de vos encours actuel afin d'en déterminer les améliorations possibles.</p>
    </div>
  </div>

  <div class="spark-container-right">
    <img class="spark" src="/assets/img/Spark.png" alt="sparks">
  </div>

  <div class="wrapper">
    <div class="wrapped-text-left wrapped-text">
      <h4>- Une entreprise moderne et dynamique</h4>
      <p>Nous faire confiance, c'est bénéficier d'un espace client personnalisé afin de suivre l'avancement de vos projets. Mais c'est aussi travailler avec une équipe moderne et engagée, car chez Courtage Patrimoine nous privilégions une approche humaine, où votre courtier peut se rendre disponible à votre domicile, votre lieu de travail, ou tout simplement autour d’un café pour échanger avec vous.</p>
    </div>
    <img src="/assets/img/logo.png" alt="logo de l'entreprise">
  </div>

  <div class="rdv-container">
    <apa-appointment-button></apa-appointment-button>
  </div>
</div>
