.container {
  flex-direction: row;
  text-align: center;
  margin: 20px;
}

p{
  font-weight: bolder;
}

button {
  background-color: var(--text-color);
  color : white;
  padding: 10px 50px;
  border-radius: 15px;
  font-size: medium;
  cursor: pointer;
  &:hover{
    background-color: white;
    color: var(--text-color);
  }
}

.top{
  margin-top: 30px;
}

.footer{
  margin-top: 100px;
}
