:host{
  width: 100%;
}

.container{
  width: 60%;
  display: flex;
  justify-content: center;
  margin: auto;
}

form{
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

input{
  width: 60%;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  padding: 5px 10px;
}

label{
  justify-self: baseline;
}

hr{
  width: 100%;
}

table{
  width: 80%;
  margin: 40px auto 100px auto;
}

td, th{
  width: 14%;
  text-align: center;
}
.iconsColumn{
  width: 8%;
}
tr:nth-child(2n+0){
  background-color: rgb(221, 221, 221);
}

.icons{
  width: 25px;
  cursor: pointer;
}
.settingIcon{
  width: 25px;
  margin-left: 70%;
  cursor: pointer;
}

.clientType{
    background-color: white;
    color: var(--text-color);
    &:hover{
      background-color: var(--text-color);
      color: white;
    }
}
