<nav>
  <div class="account" (click)="navigateDependingOnConnectionStatus()">COMPTE CLIENT</div>
  <div *ngIf="displayDisconnectButton" class="account deco" (click)="deconnectToken()">DECONNEXION</div>
  <div class="container">
    <img class="logo" routerLink="/home" src="assets/img/logo.png" alt="logo">
    <img class="separator" src="assets/img/Separateur.png" alt="separateur">
    <div class="menu">
      <h3 class="menuElement" routerLink="/business-contributor" routerLinkActive="active">APPORTEUR<br>D'AFFAIRES</h3>
      <h3 class="menuElement" routerLink="/brokerage" routerLinkActive="active">COURTAGE<br>FINANCEMENT</h3>
      <h3 class="menuElement" routerLink="/consultancy" routerLinkActive="active">CONSEILS<br>FINANCIERS</h3>
    </div>
  </div>
</nav>

