.aurias {
  font-weight: bolder;
}

hr.solid {
  border: 3px solid var(--text-color);
  width: 25%;
  margin : 2vh auto
}

.subtitle {
  color : var(--text-color);
  margin: 0 auto;
  text-align: center;
}
#main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 60%;
  background-image: url("/assets/img/Background2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;


}


.paragraph {
  margin-top: 10px;
  text-align: justify;

}

.lastMention {
  margin-top: 20px;
  margin-bottom: 5px;
  font-style: italic;
  color : grey;
}
span {
  font-weight: bolder;
}

p{
  width: 100%;
}
