
.title {
  text-align: center;
  margin-top: 5em;
  margin-bottom: 2em;
  font-size: larger;
  font-weight: bold;
  text-decoration: underline;
}

.document {

  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  align-items: center;

}

#main{
  background-image: url("/assets/img/Background2.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction : column ;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  width: 60%;
  padding-bottom: 10em;
}

p{
  text-align: center;
}

.button {
  background-color: var(--text-color);
  color : white;
  border-radius: 15px;
  padding: 1em 3em;
  font-size: 0.8vw;
  width: 20vw;
  transition: 0.3s;
  cursor: pointer;
  &:hover{
    background-color: white;
    color: var(--text-color);
  }
}
