<div><button mat-icon-button (click)="upload()" >
  Nouveau Document <mat-icon>add_circle</mat-icon>
</button>
</div>


<div id="main">
    <div class="title"> Mes documents </div>


     <div class="document" *ngFor="let document of docs">

          <a [href]="document.url" [download]="document">{{document.name}}</a>
          <p>{{document.documentType?.name}}</p>

    </div>


    <div class="title"> Avancement de mon projet </div>
        <div>

           <progress-bar [progress]="projectStatus?.ranking*10" [color]="'#488aff'"></progress-bar>

        </div>

    <div class="title">
        <input class="button" type="button" value="Retour" onclick="history.go(-1)">
    <div>


</div>
