<div class="container">

    <div class="title"> Simulateur de Capacité d'Emprunt</div>



    <form id="form" name="simulateur" (ngSubmit)="simulatorData.calculate()">
        <div class="subcontainer">
            <p>
                Revenus nets imposable / mois :<br />
                <input type="number" [(ngModel)]="simulatorData.netIncome" name="revenus net" />
            </p>
            <p>
                Revenus immobilier locatifs / mois :<br />
                <input type="number" [(ngModel)]="simulatorData.rentIncome"name="revenus locatifs" />
            </p>
            <p>
                Autres revenus / mois :<br />
                <input type="number" [(ngModel)]="simulatorData.otherIncome"name="revenus autres" />
            </p>
            <p>
              Total revenus / mois :<br />
              <label >{{simulatorData.totalIncome}}
            </label> </p>
        </div>
        <div class="subcontainer">
            <p>
                Loyers à charge après acquisition / mois :<br />
                <input type="number" [(ngModel)]="simulatorData.rentExpense"name="charges loyers" />
            </p>
            <p>
                Crédits en cours après acquisition / mois :<br />
                <input type="number" [(ngModel)]="simulatorData.loanExpense"name="charges credits" />
            </p>
            <p>
                Autres charges / mois :<br />
                <input type="number" [(ngModel)]="simulatorData.otherExpense" name="charges autres" />
            </p>
            <p>
              Total charges / mois :<br />
              <label >{{simulatorData.totalExpense}}
            </label> </p>
        </div>


        <div class="subcontainer">
            <p>
                Durée de crédit / an :<br />
                <input type="number" [(ngModel)]="simulatorData.duration"name="duree" />
            </p>
            <p>
                Taux d'intérêt (hors assurance) :<br />
                <input type="number" [(ngModel)]="simulatorData.rate" name="taux" />
            </p>
            <p>
              Capacité de financement :<br />
              <label >{{simulatorData.loanCapacity}}
            </label>  </p>
        </div>

        <button type="submit" > Valider</button>

    </form>

</div>
