<div class="container">
  <div class="title"> Simulateur de Capacité d'Emprunt</div>
  <form id="form" name="simulateur" (ngSubmit)="simulatorData.calculate()">
    <div class="formElementContainer">
      <div class="subcontainer">
        <div class="element">
          <div> Revenus nets imposable / mois</div>
          <input class="lign" type="number" [(ngModel)]="simulatorData.netIncome" name="revenus net" />
        </div>
        <div class="element">
          <div>Revenus immobilier locatifs / mois</div>
          <input class="lign" type="number" [(ngModel)]="simulatorData.rentIncome" name="revenus locatifs" />
        </div>
        <div class="element">
          <div>Autres revenus / mois</div>
          <input class="lign" type="number" [(ngModel)]="simulatorData.otherIncome" name="revenus autres" />
        </div>
        <div class="result">
          <div>Total revenus / mois </div>
          <div class="lign">
            {{simulatorData.totalIncome | number:'':'fr-FR'}} €
          </div>
        </div>
      </div>
      <div class="subcontainer">
        <div class="element">
          <div>Loyers à charge après acquisition / mois</div>
          <input class="lign" type="number" [(ngModel)]="simulatorData.rentExpense" name="charges loyers" />
        </div>
        <div class="element">
          <div>Crédits en cours après acquisition / mois</div>
          <input class="lign" type="number" [(ngModel)]="simulatorData.loanExpense" name="charges credits" />
        </div>
        <div class="element">
          <div>Autres charges / mois</div>
          <input class="lign" type="number" [(ngModel)]="simulatorData.otherExpense" name="charges autres" />
        </div>
        <div class="result">
          <div>Total charges / mois </div>
          <div class="lign">
            {{simulatorData.totalExpense | number:'':'fr-FR'}} €
          </div>
        </div>
      </div>
      <div class="subcontainer">
        <div class="element">
          <div>Durée de crédit / an</div>
          <input class="lign" type="number" [(ngModel)]="simulatorData.duration"name="duree" />
        </div>
        <div class="element">
          <div>Taux d'intérêt %</div>
          <input class="lign" type="number" [(ngModel)]="simulatorData.rate" name="taux" />
        </div>
        <div class="element final">
          <br>
          <button type="submit" > Valider</button>
        </div>
        <div class="result">
          <div><b>Montant Empruntable :</b></div>
          <div class="lign final">
            {{simulatorData.loanCapacity | number:'':'fr-FR'}} €
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
