.container {
  width: 75%;
  display : flex;
  flex-direction: column;
  justify-content: center;
  margin: 6em auto 2em auto;
  //border: 2px solid grey;
  //border-radius: 10px;
  //border-width: auto;
}
.formElementContainer{
  display: flex;
  justify-content: center;
}

#form{
  display: flex;
  flex-direction: column;
}

.element{
display: flex;
flex-direction: column;
width: 100%;
margin-bottom: 5px;
}

.lign{
  width: 94%;
  border-radius: 10px;
  border: 2px solid var(--text-color);
  text-decoration: none;
  font-size: medium;
  padding: 5px 3%;
  margin-top: 5px;
}

p, .result{
  margin-top : 1em;
}

.result .lign{
  border: none;
}

.subcontainer {
  width: 30%;
  display : flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2em;
}

.title {
  text-align: center;
  font-size: larger;
  font-weight: lighter;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  margin: auto;
  width: 100%;
  margin-bottom: 5px;
}

button{
  width: 100%;
  padding: 5px 15px;
  border: 2px solid var(--text-color);
  border-radius: 15px;
  font-size: medium;
  cursor: pointer;
  &:hover{
    background-color: var(--text-color);
    color: white;
  }
}

.final{
  border-color: transparent;
}

