:host{
  color: var(--text-color);
}
nav{
  height: 30vh;
  display: flex;
  justify-content: center;
  margin-bottom: 6vh;
}

.container{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.logo{
  width: 30%;
  margin: 3% auto 0 auto;
  cursor: pointer;
}

.separator{
  width: 40%;
  margin: 0 auto 1% auto;
}

.account{
  position: absolute;
  position: fixed;
  align-items: center;
  top: 0;
  right: 0;
  margin-top: 2em;
  margin-right: 2%;
  padding-bottom: 1em;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  font-family: var(--title-font);
  font-size: 0.8vw;
  text-decoration: underline;
}
.deco{
  margin-top: 4em;
}
.menu{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto 0;
  font-weight: 500;
}

.menuElement{
  width: 20%;
  text-align: center;
  background: linear-gradient(var(--text-color),var(--text-color)) center bottom;
  background-size: 0% 2px;
  cursor: pointer;
  border-radius: 5px;
  font-family: var(--title-font);
}

.menuElement:hover, .active{
  padding-bottom: 1px;
  background-size: 100% 2px;
  background-repeat:no-repeat;
  transition: background 1.5s;
}

// Mobile version

ng-sidebar-container{
  position: fixed;
  top: 0;
  overflow: hidden;
  padding-top: 100px;
}
 ::ng-deep .ng-sidebar{
   background-color: #F4F4F4;
   width: 100%;
   margin-top: 55px;
 }

 .menu-mobile{
   margin-top: 2em;
   display: block;
 }

 .menu-mobile li{
   cursor: pointer;
   list-style: none;
   display: flex;
   justify-content: center;
   border-bottom: 1px solid var(--text-color);
   width: 70%;
   margin: auto auto;
 }

 .menu-mobile li a{
   display: block;
   margin: 15px auto;
   width: fit-content;
   font-weight: bold;
   font-size: larger;
 }

 .sticky {
  background:#F4F4F4;
  box-shadow: 0 3px 12px 0 rgba(0,0,0,.08);
  position: fixed;
  top: 0;
  width: 100%;
}

.mobile-menu-title{
  font-family: var(--title-font);
}

.sidebar-closed{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sidebar-closed button, .sidebar-closed h3{
  margin-right: 20px;
}

.sidebar-closed img{
  width: 30px;
}
