
.login{
  display: flex;
  justify-content: center;
}

.loginForm{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5em;
  width: 120px;
}

.valider{

  margin-top: 1em;
  width: 120px;

}


