<router-outlet></router-outlet>

<!-- go to user form -->



<div class="back">
  <ng-form name="ngLogin" >
    <fieldset class="loginForm">Connexion
      <label for="username">Adresse Mail :</label>
      <input type="text" ngModel="userName" name="login"/>
      <label for="password">Mot de passe :</label>
      <input type="password" ngModel="password" name ="password"/>
      <a routerLink="/user">   <button type="submit"   onsubmit="valider()" class="valider">Valider</button>
      </a> </fieldset>
</ng-form>
</div>
