h1{
  text-align: center;
  margin-bottom: 20px;
}
h4{
  margin-top: 20px;
  text-align: center;
}

.buttonContainer{
  width: 100%;
  display: flex;
  justify-content: center;
}

.settingIcon{
  width: 25px;
  margin-left: 70%;
  margin-top: 100px;
  cursor: pointer;
}

button{
  width: 20%;
  margin: 20px;
  border: 1px solid var(--text-color);
  border-radius: 10px;;
  padding: 5px 20px;
  background-color: var(--text-color);
  color: white;
  cursor: pointer;
  &:hover{
    background-color: white;
    color: var(--text-color);
  }
}
.cardContainer{
  display: flex;
  flex-wrap: wrap;
  width: 70%;
  margin: auto;
  justify-content: center;
}
.cardSubContainer{
  width: 30%;
  margin: 15px;
  display: flex;
  flex-direction: column;

}
.card{
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
  margin-bottom: 50px;
  cursor: pointer;
  border: 1px solid var(--text-color);
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  &:hover{
    border: 2px solid var(--text-color);
    border-top: none;
  }
}
.clientViewCard{
  border-top: 1px solid var(--text-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  &:hover{
    border-top: 2px solid var(--text-color);
  }
}
.deleteCard{
  background-color: grey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
  text-align: center;
  padding: 10px 0px;
  cursor: default;
  &:hover{
    background-color: red;
    color: white;
    border-color: red;
  }
}
.subcontainer{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 2px;
}
.title{
  text-align: center;
  color: var(--text-color);
  font-weight: bolder;
  margin-bottom: 10px;
}
.goBack{
  width: 10%;
  background-color: white;
  color: grey;
  border-color: grey;
  &:hover{
    background-color: grey;
    color: white;
    border-color: grey;
  }
}
