form{
  width: 70%;
  margin: auto;
  margin-bottom: 50px;
}
.subcontainer{
  display: flex;
  justify-content: center;
}
section{
  width: 50%;
  margin: 40px auto;
}
.formSubcontainer{
  display: flex;
  justify-content: space-between;
  margin: 10px;
}
label{
  width: 30%;
}
input{
  width: 60%;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  padding: 5px 10px;
}
.errorMessage{
  width: 60%;
  margin-left: 40%;
  color: red;
}
span{
  color: red;
}

.cancelEdit{
  border-color: red;
  color: red;
  background-color: white;
  &:hover{
    color: white;
    background-color: red;

  }
}
.principal{
  background-color: var(--text-color);
  color: white;
  &:hover{
    background-color: white;
    color: var(--text-color);
  }
}

