@font-face {
  font-family: 'Segoe UI';
  src: url('assets/fonts/Regular/SegoeUI.woff2') format('woff2'),
      url('assets/fonts/Regular/SegoeUI.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('assets/fonts/Bold/SegoeUI-Bold.woff2') format('woff2'),
      url('assets/fonts/Bold/SegoeUI-Bold.woff2') format('woff');
  font-weight: bold;
  font-style: normal;
}
