<div class="buttonContainer top">
  <button class="goBack" routerLink="/settings">Retour</button>
</div>
<h1>Types de clients</h1>
  <div class="buttonContainer">
    <button (click)="toggleDisplayForm()">Nouveau</button>
  </div>
<table>
  <tr>
    <th class="id"></th>
    <th class="userTypeName">Nom</th>
    <th class="usersNumber">Clients</th>
    <th class="deleteType">Editer</th>
    <th class="deleteType">Supprimer</th>
  </tr>
  <tbody>
    <tr *ngFor="let type of usersByUserType; let i = index">
      <td class="id">Type de clients {{i+1}}</td>
      <td class="userTypeName">{{type.name}}</td>
      <td class="usersNumber">{{type.users}}</td>
      <td class="deleteType"><img (click)="editUserType(type)" src="/assets/img/edit.svg" alt=""></td>
      <td class="deleteType"><img (click)="deleteUserType(type)" src="/assets/img/trash.svg" alt=""></td>
    </tr>
  </tbody>
</table>
<form *ngIf="displayForm" (ngSubmit)="userTypeForm.valid && onSubmit()" #userTypeForm="ngForm">
  <div class="formSubcontainer">
    <label for="name">Nom<span>*</span></label>
    <input type="text" name="name" placeholder="Particulier" [(ngModel)]="userType.name" #userTypeName="ngModel" required>
  </div>
  <div class="errorMessage" *ngIf="userTypeForm.submitted && userTypeName.errors?.required">Un nom est requis pour créer un type d'utilisateur.</div>
  <div class="buttonContainer">
    <button type="submit">Valider</button>
    <button type="reset" class="cancelEdit" (click)="toggleDisplayForm()">Annuler</button>
  </div>
</form>


