<div class="all-wrapper">
  <div class="intro-wrapper">
    <div class="intro-container">
      <h3>L'investissement immobilier locatif clé en main</h3>
      <p>Vous souhaitez investir dans l'immobilier, afin de créer des revenus complémentaires et constituer un patrimoine ?</p>
      <p> Courtage Patrimoine vous propose d'agir en qualité d'apporteur d'affaires afin de trouver un bien immobilier adapté à vos budget, fiscalité et ambition par une approche unique.</p>
    </div>
  </div>
  <div class="wrapper">
    <img src="/assets/img/visuel1.png" alt="femme à son bureau">
    <div>
      <h4>Étude Patrimoniale, analyse de la situation financière</h4>
      <p>Parce que votre situation est unique, vous rencontrez un conseiller en gestion de patrimoine afin de faire un bilan. Celui-ci étudiera les possibilités d'améliorations, pour ensuite déterminer le type de projet immobilier qui vous convient le mieux. C'est également un moment de partage, ou nous prenons grand soin de répondre à toutes vos questions.</p>
    </div>
  </div>
</div>
