h1{
  text-align: center;
  margin-bottom: 15px;
}
h4{
  margin-top: 20px;
}
form{
  width: 50%;
  margin: auto;
  font-size: 1.5vw;
}
.deleteDocAndStatus{
  padding: 0px 10px;
  margin: 0;
  text-align: center;
}
table{
  width: 100%;
  font-size: 1.3vw;
}
th, td{
  text-align: left;
}
tr{
  width: 100%;
}
.tableRow{
  width: 25%;
}
.tableInput{
  width: 45%;

}
.projectStatusRanking{
  width: 10%;
  text-align: center;
}
.tableButton{ 
  width: 10%;
}
.buttonContainer{
  flex-direction: row;
}
input{
  width: 30vw;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 1.3vw;
}
.ranking{
  width: 30%;
}
img{
  width: 25px;
}

@media screen and (max-width: 850px) {
  h3{
    font-size: 4vw;
  }
  table, form{
    width: 90%;
    font-size: 2vw;
  }
  input{
    width: 45vw;
    font-size: 2vw;
  }
}
@media screen and (max-width: 500px) {
  h3{
    font-size: 5vw;
  }
  table, form{
    width: 90%;
    font-size: 2.5vw;
  }
  input{
    font-size: 2.5vw;
  }
}