.container {
  width: 65%;
  display : flex;
  flex-direction: column;
  justify-content: center;
  margin: 6em auto 2em auto;
}
.formElementContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#form{
  display: flex;
  flex-direction: column;
}

.element{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 80%;
margin-bottom: 1em;
}

.button-element{
  width: 80%;
  margin-bottom: 2em;
  margin-top: 4em;
}

.lign{
  width: 80%;
  height: 2em;
  border-radius: 10px;
  border: 2px solid var(--text-color);
  text-decoration: none;
  padding: 5px 3%;
  margin-top: 0.8em;
  font-size: 0.8em;
}

.input-description{
  margin-top: 1.2em;
}

p, .result{
  margin-top : 1em;
}

.result .lign{
  border: none;
}

.subcontainer {
  width: 96%;
  display : flex;
  justify-content: space-between;
  margin: 0.2em;
}

.title {
  text-align: center;
  font-size: larger;
  font-weight: lighter;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  margin-top: 6em;
  width: 100%;
  height: 2em;
}

button{
  width: 88%;
  height: 2em;
  font-size: 1.2em;
  border: 2px solid var(--text-color);
  border-radius: 15px;
  cursor: pointer;
  &:hover{
    background-color: var(--text-color);
    color: white;
  }
}

.final{
  border-color: transparent;
}

div{
  font-size: 1.8vh;
}

.element .final{
  margin-top: 6em;
}

.result{
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.result .input-description{
  font-size: larger;
  font-weight: bold;
}

.result-lign{
  font-size: larger;
}
