:host{
  color: var(--text-color);
}

footer{
  position: relative;
  height: 15vh;
  bottom: 0;
  width: 100%;
  background-color: rgb(219, 219, 219);
  padding: 40px 0;
}

.logo{
  width: 13%;
  height: 13%;
  align-self: center;
  cursor: pointer;
}

.container{
  display: flex;
  justify-content: space-evenly;
}

.footerElement{
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-left: 3px solid rgb(160, 160, 160);
  padding: 0px 30px;
}

p, a, h4{
  width: 100%;
  margin: 5px 0;
  text-align: start;
}

p, a{
  font-weight: lighter;
  }

.footerLink {
  cursor: pointer;
}
.lastP {
  cursor : pointer;
}

// Mobile version

.mobile-footer-container{
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-left: 20px;
  height: max-content;
}
 .mobile-footer{
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}
 .mobile-footer *{
  border-bottom: 2px solid lightgrey;
  height: 30px;
 }
