.container {
  flex-direction: row;
  text-align: center;
  margin: 20px;
  height: 60vh;
}

.central-big-img{
  width: 100%;
  height: auto;
}

.mortgage-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-bottom: 10em;
}

.mortgage-wrapper p{
  text-align: center;
  margin-top: 1em;
  width: 100%;
}

.mortgage-container{
  margin-bottom: 3em;
}

// Mobile version

.mobile-container{
  padding-top: 50px;
}
