@import 'assets/scss/modules/_fonts.scss';


*{
  margin: 0;
  padding: 0;
  font-family: var(--text-font);
  color: var(--text-color);
  outline: none;
}

html, body{
  height: 100%;
  width: 100%;
}

:root{
  --text-color:rgb(42, 42, 78);
  --title-font: 'Cinzel', serif;
  --text-font: 'Segoe UI', sans-serif;
}

h3{
  font-size: 2.5em;
}

h4{
  font-size: 2.25em;
}

p{
  font-size: 2em;
  margin-top: 1em;
  text-align: justify;
}

.back{
  background-image: url(/assets/img/Background.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 80%;
  background-position: center;
}

button{
  font-size: 2.2em;
}

// Static pages image/text repetition style

.wrapper{
  display: flex;
  align-items: center;
}

.all-wrapper{
  padding-top: 5em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 60vw;
  margin-left: auto;
  margin-right: auto;
}

img{
  width: 30%;
  height: auto;
}

.wrapped-text-right{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.wrapped-text-left{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.wrapped-text h4, p{
  width: 80%;
}

.spark{
  width: 55%;
  height: 10em
}

.spark-container-right{
  display: flex;
  justify-content: flex-end;
}

// Appointment button container

.rdv-container{
  margin-top: 8em;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 20vh;
  margin-bottom: 2em;
}

.rdv-container h4{
  margin-bottom: 2em;
}

h4{
  color: #9A9A9A
}
