<div class="buttonContainer top">
  <button class="goBack" routerLink="/clientView">Retour</button>
</div>

<h1 *ngIf="userType && userType==='Particulier'">M./Mme. {{selectedUser.lastName}} {{selectedUser.firstName}}</h1>
<h1 *ngIf="userType && userType==='Professionnel'">Société {{selectedUser.companyName}}</h1>

<div class="buttonContainer">
  <button (click)="navigatoToProjectCreation()">Nouveau Projet</button>
</div>
<h4 *ngIf="selectedUser.projects.length!==0">Projets</h4>
<div *ngIf="selectedUser" class="cardContainer">
  <div class="card" *ngFor="let project of selectedUser.projects">
    <div class="subcontainer">
      <div>{{project.projectType}}</div>
    </div>
      <div class="title">{{project.name}}</div>
    <div class="subcontainer">
      <div class="elementCardName">Montant :</div>
      <div>{{project.amount | currency: 'EUR': 'symbol':'1.0':'fr'}}</div>
    </div>
    <div class="subcontainer">
      <div class="elementCardName">Date de création :</div>
      <div>{{project.creationDate | date: 'shortDate':'fr'}}</div>
    </div>
    <div class="subcontainer">
      <div class="elementCardName">Date de clôture :</div>
      <div>{{project.closingDate | date: 'shortDate':'fr'}}</div>
    </div>
    <!-- <div *ngFor="let document of project.documents">
      <div>{{document}}</div>
    </div> -->
  </div>
</div>
