


<!--
<H4> Liste des projets du client : {{selected.firstName}}{{selected.lastName}} </H4> -->


<H3>Liste des Projets de : {{userName}}</H3>

<div><button mat-icon-button (click)="newProject()" class="button">
  Nouveau Projet <mat-icon>add_circle</mat-icon>
</button>
</div>


<input matInput  name="inputSearch" placeholder="Search" autocomplete="on" >



<div>
   <mat-table [dataSource]="projects" matSort>
    <mat-header-row *matHeaderRowDef="headers" > </mat-header-row>
    <mat-row *matRowDef="let row;columns: headers;" class="mat-row"></mat-row>

    <ng-container matColumnDef="Nom">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nom </mat-header-cell>
      <mat-cell *matCellDef="let project">{{project.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Type">
      <mat-header-cell *matHeaderCellDef>Type de projet </mat-header-cell>
      <mat-cell *matCellDef="let project">{{project.typeProject}}</mat-cell>
    </ng-container>
     <ng-container matColumnDef="Montant">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Montant</mat-header-cell>
      <mat-cell *matCellDef="let project">{{project.amount}}</mat-cell>
    </ng-container>
     <ng-container matColumnDef="Date Ouverture">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Date d'Ouverture</mat-header-cell>
      <mat-cell *matCellDef="let project">{{project.dateOpened}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Date cloture">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Date de Clôture </mat-header-cell>
      <mat-cell *matCellDef="let project">{{project.dateClosed}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Durée">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Durée </mat-header-cell>
      <mat-cell *matCellDef="let project">{{project.duration}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let project">
        <button mat-icon-button   (click)="modifyProject(project)" class="button">
          <mat-icon >launch</mat-icon>
        </button>

        <button mat-icon-button (click)="deleteProject(project)" class="button">
          <mat-icon color="warn" >delete_forever</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5,10,20,50]" [pageSize]="5">

  </mat-paginator>
</div>




