<h2>Details du Client</h2>

<form [formGroup]="form" class="form">

  <mat-grid-list cols="2" rowHeight="600px">
    <!-- <mat-grid-tile></mat-grid-tile> -->
    <div>
      <mat-label class="label"> Identité</mat-label>
      <br>
      <mat-form-field class="field">
        <input formControlName="lastName" matInput placeholder="Nom *">
        <mat-error>Le champs est requis</mat-error>
      </mat-form-field>
      <mat-form-field class="field">
        <input formControlName="firstName" matInput placeholder="Prénom *">
      </mat-form-field>
      <mat-form-field class="field">
        <input type="password" formControlName="password" matInput placeholder="Password *">
      </mat-form-field>
      <mat-form-field class="field">
        <input formControlName="email" matInput placeholder="Email *">
      </mat-form-field>
      <mat-form-field class="field">
        <input formControlName="phoneNumber" matInput placeholder="Numéro de téléphone *">
      </mat-form-field>

      <mat-form-field class="field">
        <input formControlName="sponsorshipCode" matInput placeholder="Code Parrainage*">
      </mat-form-field>
    </div>
    <br>
    <mat-label class="label"> Société</mat-label>
    <br>
    <div>
      <mat-form-field class="field">
        <input matInput formControlName="companyName"   placeholder="Nom de Société" name="inputcompany">
      </mat-form-field>
      <mat-form-field class="field">
        <input formControlName="siretNumber" matInput placeholder="Numéro de Siret">
      </mat-form-field>
      <!-- <mat-grid-tile>

      </mat-grid-tile> -->

      <div>

        <mat-label class="label"> Adresse</mat-label>
        <br>

        <mat-form-field class="field">
          <input formControlName="addressNumber" matInput placeholder="Numéro de rue">
        </mat-form-field>
        <mat-form-field class="field">
          <input formControlName="street" matInput placeholder="rue">
        </mat-form-field>
        <mat-form-field class="field">
          <input formControlName="zipCode" matInput placeholder="Code Postal">
        </mat-form-field>
        <mat-form-field class="field">
          <input formControlName="city" matInput placeholder="Ville">
        </mat-form-field>
      </div>
      <div>
        <mat-label class="label"> Banque</mat-label>
        <br>
        <mat-form-field class="field">
          <input formControlName="iban" matInput placeholder="Iban">
        </mat-form-field>
        <mat-form-field class="field">
          <input formControlName="bic" matInput placeholder="Bic">
        </mat-form-field>
        <mat-form-field class="field">
          <input formControlName="ownerFullname" matInput placeholder="Nom du Titulaire">
        </mat-form-field>
        <mat-form-field class="field">
          <input formControlName="bankName" matInput placeholder="Nom de la banque">
        </mat-form-field>
      </div>
      <button  mat-icon-button (click)="addTypeOfUser()"  class="button">
        <mat-icon>add_circle</mat-icon>
      </button>
      <mat-form-field>
        <mat-label>Type Client</mat-label>
        <mat-select [compareWith]="compareObjects" formControlName="userTypeForm" matInput placeholder="Type de Client" name="inputUser">
          <mat-option *ngFor="let type of typeOfUsers" [value]="type"> {{type.name}}</mat-option>
        </mat-select>
      </mat-form-field>

      <button  *ngIf="!isCreated" mat-stroked-button (click)="onValidate()" class="button">
        Valider
      </button>

      <button *ngIf="isCreated" mat-stroked-button (click)="modifyUserDetails()" class="button">
        Modifier
      </button>
    </div>

  </mat-grid-list>
</form>
