<div class="faq-wrapper">
  <h3>F.A.Q</h3>
  <hr class="solid">
  <div>
    <h4>Vos services sont-ils finançables par un établissement bancaire ?</h4>
    <p>Les honoraires d'apporteurs d'affaires dans le cadre d'un investissement immobilier locatif, et les honoraires de courtage en financement sont finançables auprès des banques. Cela dépend cependant de votre capacité d'emprunt.</p>
  </div>
  <div>
    <h4>Les honoraires sont-ils déductibles ?</h4>
    <p>Les honoraires facturés dans le cadre de nos activités, peuvent être déduits et assimilés à des charges. Cela dépend de la forme juridique que vous avez choisi pour votre achat/investissement.
    Par exemple : Les honoraires d'apporteur d'affaires peuvent être déduits/amortis dans le cadre d'une exploitation locative au réel en nom propre, et dans toutes les sociétés d'exploitation. Il en va de même pour les honoraires de courtage.</p>
  </div>
  <div>
    <h4>Comment procédez vous pour la recherche des biens immobilier ?</h4>
    <p>Chez Courtage Patrimoine, nous sommes en constante observation du marché immobilier, nous procédons avec une stratégie simple: l'arbitrage. C'est à dire observer les biens sous évalués par rapport à leur valeur de vente possible. Nous disposons d'outils et d’algorithmes permettant de trouver des biens qui seront, d'un point de vue financier, rentable dès leur acquisition. Nous sommes également présents dans un large réseau de professionnels de l'immobilier qui peuvent nous alerter d'un bien intéressant avant sa mise en vente sur le marché, on appelle cela les opportunités « off-market » car vous ne pouvez pas avoir accès à ces informations privilégiées. Enfin, de par notre expertise, nous sommes capables d’évaluer le potentiel d’un bien là où d’autres pourraient passer à côté d’opportunités d’investissement interessantes et uniques.</p>
  </div>
  <div>
    <h4>Dans quel type de ville proposez vous d'investir ?</h4>
    <p>diverses localisations, afin de d'appréhender au mieux les paramètres qui y s’affairent. Par exemple, une ville ou l'appréciation immobilière est faible mais constante, en cas de décroissance du marché ne va pas subir les mêmes dépréciations qu'une ville ou l'appréciation était très forte. C'est la volatilité. </p>
  </div>
  <div>
    <h4>Comment Courtage patrimoine agit pour couvrir ses clients de tous conflits d’intérêts ?</h4>
    <p>Courtage Patrimoine se revendique fièrement indépendante de toute société, et au service exclusif de ses clients. Ainsi, nous appliquons une politique 100% sans conflit d'intérêt possible. Par exemple, un courtier en prêt immobilier se rémunère de deux façon, par la banque avec laquelle il vous fait souscrire et par vous, le client. Les commissions des banques étant libres et fixées par chacune d'entre elles avec le courtier. C'est pourquoi un courtier peut être tenté de vous orienter vers une banque lui proposant la meilleure commission même si celle-ci ne vous propose pas les meilleures conditions de financement. C'est pourquoi Courtage Patrimoine, vous rétrocède l'intégralité de toutes éventuelles commissions perçues par un établissement bancaire. Ceci garantit l'impartialité de notre choix, car nous souhaitons le meilleur pour vous. Vous pouvez donc même être amené à gagner de l'argent en passant par nos services pour trouver votre financement. </p>
  </div>
  <div>
    <h4>Vous êtes présents sur Bordeaux, mais pouvez vous travailler avec des personnes de la France entière ? </h4>
    <p>Tout à fait, nous sommes une entreprise moderne et connectée. Notre espace client permet de travailler à distance sur l'ensemble des prestations. Nous travaillons également en visio-conférence.</p>
  </div>
  <div>
    <h4>Dans le cadre d'une prestation de courtage en financement, si vous ne me trouvez pas de financement devrais-je avancer des frais ? </h4>
    <p>Absolument pas, Courtage Patrimoine se rémunère uniquement en cas de réussite de votre financement. En accord avec la loi MURCEF, un courtier ne peut percevoir d'honoraires avant le déblocage des fonds par la banque.</p>
  </div>
  <div>
    <h4>Quels sont vos tarifs ?</h4>
    <p>Nos tarifs d'apporteur d'affaires ne sont pas communs à tout un chacun, car chaque situation est unique. En fonction des situations, des projets, des technicités, de l’ingénierie associée et de la quantité de travail requise et les actions à mettre en place, les honoraires varient. Un devis gratuit vous est établi après étude de tous ces paramètres.</p>
    <p>Dans le cadre d'un courtage en financement :</p>
    <table style="width:100%">
      <tr>
        <th>Montant du financement</th>
        <th>Honoraires de courtage</th>
      </tr>
      <tr>
        <td>0€ à 80 000€</td>
        <td>500€ + 0,5% du montant emprunté</td>
      </tr>
      <tr>
        <td>80 001€ à 120 000€</td>
        <td>350€ + 0,7% du montant emprunté</td>
      </tr>
      <tr>
        <td>120 001€ à 160 000€</td>
        <td>500€ + 0,6% du montant emprunté</td>
      </tr>
      <tr>
        <td>160 001€ à 200 000€</td>
        <td>500€ + 0,5% du montant emprunté</td>
      </tr>
      <tr>
        <td>200 001€ à 400 000€</td>
        <td>1 500,00 €</td>
      </tr>
      <tr>
        <td>400 001€ à 600 000€</td>
        <td>1 700,00 €</td>
      </tr>
      <tr>
        <td>600 000€ et plus</td>
        <td>2 000,00 €</td>
      </tr>
    </table>
  </div>
  <div>
    <h4>A qui s'adressent vos services d'apporteur d'affaires ?</h4>
    <p>A toutes personnes souhaitant investir de façon sereine, en bénéficiant de l'expertise de financiers professionnel. Nos services permettent de s'enquérir d'une forte expérience et d'être sûr de bénéficier d'un accompagnement unique sur le marché. Nous nous chargeons véritablement de tout. Chercher le bien, vous faire financer, réaliser les travaux et la location. C'est un réel gain de temps pour vous, et l'assurance de ne pas perdre de l'argent dans les différentes étapes d'acquisition immobilière par inexpérience et méconnaissance. </p>
  </div>
  <div>
    <h4>Qu'elle est votre différence par rapport à des projets immobiliers d'autres sociétés de gestion de patrimoine ?</h4>
    <p>Ici, on ne vend pas les produits d'autrui. La est la grande différence, dans le même soucis de ne pas subir de conflit d’intérêts que peuvent faire d'autres société à vendre des produits et en percevoir les commissions. Nous créons vos projets de A à Z en partant de votre situation. Notre seule rémunération est celle que vous nous versez en cas de réussite.</p>
  </div>
  <div>
    <h4>Pourquoi avoir recours à un gestionnaire de patrimoine ?</h4>
    <p>L'expertise et les connaissances que nous possédons vous permettent de réaliser des projets auxquels vous n'aviez peut être pas pensé, mais aussi d’améliorer votre situation financière. La est notre vision, notre chemin. Vous accompagner dans la réalisation de vos projets de vie. </p>
  </div>
  <div>
    <h4>Vous êtes plutôt thé ou café ?</h4>
    <p>Plutôt thé. Thé blanc de Pai Mu Tan .</p>
  </div>
</div>
