.page{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;
  width: 100%;
  background-image: url(../../../../assets/img/Background2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

// PARAGRAPHES
.textCard{
  width: 60%;
  margin: 10px 0 10px 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subcontainer{
  width: 100%;
  text-align: left;
}

// BOUTONS
.buttonContainer{
  width: 75%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
button{
  margin: 10px 0;
  padding: 5px 20px;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  font-size: small;
  width: 120px;
  cursor: pointer;
  &:hover{
    background-color: var(--text-color);
    color: white;
  }
}
.quitForm{
  color: red;
  border-color: red;
  &:hover{
    background-color: red;
    color: white;
  }
}
#changeViewButton{
  width: 30%;
  font-size: medium;
  background-color: var(--text-color);
  color: white;
  &:hover{
    background-color: white;
    color: var(--text-color);
  }
}
.arrowContainer{
  width: 3%;
  position: absolute;
  right: 0;
  margin-right: 3%;
}
.arrowButton{
 padding: 0;
 text-align: center;
 width: 30px;
}
.add{
  margin-top: 0px;
}

// FORMULAIRE
form{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  border-radius: 5px;
}
.inputContainer{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 10px;
}
input{
  width: 70%;
}
.errorMessage, span{
  color: red;
}

// IMAGES
.pictureContainer{
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}
.pictureCard{
  margin-bottom: 0;
}

img{
  max-width: 100%;
  max-width: 100%;
}
.picture{
  width: 70%;
  // max-width: 70%;
  height: 200px;
  // height: 60%;
  object-fit: cover;
  overflow: hidden;
  margin: 0 3%;
  border-radius: 5px;
}

// GESTION DE L'ORDRE D'AFFICHAGE
.firstInOrder{
  order: 1;
}
.secondInOrder{
  order: 2;
}
.thirdInOrder{
  order: 3;
}
.footer{
  order: 4;
}
