<div class="page">
  <div class="container" [ngClass]="{firstInOrder: article.order.video === 1, secondInOrder: article.order.video === 2, thirdInOrder: article.order.video === 3}">
    <apa-video [videoCode]="article.videoCode"></apa-video>
    <button *ngIf="displayEditButton" (click)="toggleDisplayEditVideoCodeForm()">Editer</button>
    <form *ngIf="displayEditVideoCodeForm" (ngSubmit)="videoCodeForm.valid && onSubmitVideoCodeForm()" #videoCodeForm="ngForm">
      <div class="inputContainer">
        <label for="videoCode">Code vidéo<span>*</span></label>
        <input type="text" name="videoCode" placeholder="oPqHzTLgBr0" [(ngModel)]="videoModel.code" #videoCode="ngModel" required>
      </div>
      <div class="errorMessage" *ngIf="videoCode.errors?.required && videoCodeForm.submitted">Un code pour la viédo est requis</div>
      <div class="buttonContainer">
        <button type="submit">Valider</button>
        <button class="quitForm" (click)="toggleDisplayEditVideoCodeForm()">Annuler</button>
      </div>
    </form>
    <div *ngIf="displayEditButton" class="container arrowContainer">
      <button class="arrowButton" *ngIf="article.order.video> 1" (click)="changeOrder(article.order.video, -1)">&uarr;</button>
      <button class="arrowButton" *ngIf="article.order.video <= 2" (click)="changeOrder(article.order.video, 1)">&darr;</button>
    </div>
  </div>
  <div class="container" [ngClass]="{firstInOrder: article.order.text === 1, secondInOrder: article.order.text === 2, thirdInOrder: article.order.text === 3}">
    <div class="subcontainer">
      <div class="textCard" *ngFor="let text of article.texts">
        <div class="text">
          {{text.content}}
        </div>
        <div class="buttonContainer" *ngIf="displayEditButton">
          <button (click)="activeEditTextMethods(text, 'edit')">Editer</button>
          <button class="quitForm" (click)="deleteText(text)">Supprimer</button>
        </div>
      </div>
      <form *ngIf="displayEditText" (ngSubmit)="writtingSectionForm.valid && onSubmitTextForm(textModel)" #writtingSectionForm="ngForm">
        <div class="inputContainer">
          <label for="text">Texte<span>*</span></label>
          <textarea name="text" id="text" cols="90" rows="10" placeholder="Tapez votre texte ici" [(ngModel)]="textModel.text" #text="ngModel" required></textarea>
        </div>
        <div class="errorMessage" *ngIf="text.errors?.required && writtingSectionForm.submitted">Un texte est requis</div>
        <div class="buttonContainer">
          <button type="submit">Valider</button>
          <button class="quitForm" (click)="toggleDisplayEditText('cancel')">Annuler</button>
        </div>
      </form>
    </div>
      <div *ngIf="displayEditButton" class="container arrowContainer">
        <button class="arrowButton" *ngIf="article.order.text > 1" (click)="changeOrder(article.order.text, -1)">&uarr;</button>
        <button class="arrowButton" *ngIf="article.order.text <= 2" (click)="changeOrder(article.order.text, 1)">&darr;</button>
      </div>
    <div class="container add">
      <button *ngIf="displayEditButton" (click)="toggleDisplayEditText('new')">Nouveau paragraphe</button>
    </div>
  </div>
  <div class="container" [ngClass]="{firstInOrder: article.order.picture === 1, secondInOrder: article.order.picture === 2, thirdInOrder: article.order.picture === 3}">
    <div class="pictureContainer">
      <div class="container pictureCard" *ngFor="let picture of article.pictures, let i = index">
        <img class="picture" src="{{picture.url}}" alt="Picture {{i}}">
        <div class="buttonContainer" *ngIf="displayEditButton">
          <button (click)="activeEditPictureMethods(picture, 'edit')">Editer</button>
          <button class="quitForm" (click)="deletePicture(picture)">Supprimer</button>
        </div>
      </div>
    </div>
    <div class="container">
      <form *ngIf="displayEditPicture" (ngSubmit)="pictureForm.valid && onSubmitPictureForm(pictureModel)" #pictureForm="ngForm">
        <div class="inputContainer">
          <label for="pictureUrl">Lien photo<span>*</span></label>
          <input type="text" name="pictureUrl" placeholder="https://mypicture.com" [(ngModel)]="pictureModel.url" #pictureUrl="ngModel" required>
        </div>
        <div class="errorMessage" *ngIf="pictureUrl.errors?.required && pictureForm.submitted">Une url pour la phooto est requise</div>
        <div class="buttonContainer">
          <button type="submit">Valider</button>
          <button class="quitForm" (click)="toggleDisplayEditPicture('cancel')">Annuler</button>
        </div>
      </form>
      <div class="container add">
        <button *ngIf="displayEditButton" (click)="toggleDisplayEditPicture('new')">Nouvelle photo</button>
      </div>
    </div>
    <div *ngIf="displayEditButton" class="container arrowContainer">
      <button class="arrowButton" *ngIf="article.order.picture > 1" (click)="changeOrder(article.order.picture, -1)">&uarr;</button>
      <button class="arrowButton" *ngIf="article.order.picture <= 2" (click)="changeOrder(article.order.picture, 1)">&darr;</button>
    </div>
  </div>
  <div class="buttonContainer footer">
    <button *ngIf="roleIsAdmin" id="changeViewButton" (click)="changeView()">Vue Client / Admin</button>
  </div>
</div>
