.page{
  margin: 0 auto;
  padding: 0;
  width: 100%;
  background-image: url(../../../../assets/img/Background2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0;
}

.textCard{
  width: 60%;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text{
  width: 100%;
  text-align: left;
}

.buttonContainer{
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}

button{
  margin: 10px 0;
  padding: 5px 20px;
  border: 1px solid var(--text-color);
  border-radius: 10px;
  font-size: small;
  width: 120px;
  cursor: pointer;
  &:hover{
    background-color: var(--text-color);
    color: white;
  }
}

.quitForm{
  color: red;
  border-color: red;
  &:hover{
    background-color: red;
    color: white;
  }
}

#changeViewButton{
  width: 30%;
  font-size: medium;
  background-color: var(--text-color);
  color: white;
  &:hover{
    background-color: white;
    color: var(--text-color);
  }
}

.add{
  margin-top: 0px;
}

form{
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid grey;
  border-radius: 5px;
}

.inputContainer{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 10px;
}

input{
  width: 70%;
}

.errorMessage, span{
  color: red;
}

.pictureContainer{
  display: flex;
  width: 80%;
  margin: auto;
  margin-bottom: 30px;
  justify-content: space-between;
}

.picture{
  width: 70%;
  height: 60%;
  overflow: hidden;
  margin: 0 3%;
  border-radius: 5px;
}
