<h1>Liste des Clients </h1>


<div><button mat-icon-button (click)="addUser()" class="button">
    Nouveau Client <mat-icon>add_circle</mat-icon>
  </button>
</div>


<input matInput [(ngModel)]="searchKey" name="inputSearch" placeholder="Search" autocomplete="off" (change)="filter()">



<div>
  <mat-table [dataSource]="listOfUsers" matSort>
    <mat-header-row *matHeaderRowDef="headers" > </mat-header-row>
    <mat-row *matRowDef="let row;columns: headers;" class="mat-row"></mat-row>

      <ng-container matColumnDef="lastName" >
      <mat-header-cell  *matHeaderCellDef  mat-sort-header>Nom</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.lastName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef>Prenom </mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.firstName}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef mat-sort-header >Type</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.userType?.name}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="sponsorshipCode">
      <mat-header-cell *matHeaderCellDef  [style.color]="'red'" >Code Parrainage</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.sponsorshipCode}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="Email">
      <mat-header-cell *matHeaderCellDef >Email</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.email}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Téléphone">
      <mat-header-cell *matHeaderCellDef>Téléphone</mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.phoneNumber}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="Société">
      <mat-header-cell *matHeaderCellDef >Compagnie </mat-header-cell>
      <mat-cell *matCellDef="let user">{{user.companyName}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let user">
        <button mat-icon-button   (click)="modifyUser(user)" class="button">
          <mat-icon >launch</mat-icon>
        </button>
        <button mat-icon-button  [routerLink]="['/projects',user.id,user.lastName]" class="button">
          <mat-icon color="blue" >anchor</mat-icon>
        </button>
        <button mat-icon-button (click)="deleteUser(user)" class="button">
          <mat-icon color="warn" >delete_forever</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5,10,20,50]" [pageSize]="5">

  </mat-paginator>
</div>

