
:host{

  display: flex;
    align-items: center;
}

.user{

  display: flex;
  align-content: center;

}

.formProject{
    display: flex;
    justify-content: center;
}

.projetdetails{
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
