<!-- <div>
  <H4> Liste des projets </H4>
<select [(ngModel)]="selectedAll" class="total" >
  <option *ngFor="let project of projectsAll" [ngValue]="project" >
    {{project.id}}
    {{project.name}}
    {{project.amount}}
  </option>
</select>
</div> -->

<section class="client">
  <span>Liste des Clients</span>
  <span> <input type="text"> </span>

  <table>
    <tr >
      <th class="ligne" *ngFor="let item of headers">{{item}}
      </th>
    </tr>
    <tr class="ligne" *ngFor="let user of users" [routerLink]="['/projects', user.id]"  >
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.phoneNumber}}</td>
      <td>{{user.societyName}} </td>
    </tr>
  </table>
</section>
<!--
<p> ici c est pas lié</p>

<H4> Liste des Clients</H4>

<select [(ngModel)]="users" name="selectedUser">
  <option *ngFor="let user of users" value="user.id">
    <div>
      {{user.id}}{{user.firstName}} {{user.lastName}}
    </div>
  </option>
</select>
-->

<!--
<H4> Catégories de Projets</H4>
<select [(ngModel)]="selectedtype">
  <option *ngFor="let type of typeProjects">
    {{type.name}}
  </option>
</select>
-->
<!--
<H4> Liste des projets par type : {{selectedtype.name}}
  </H4>
<select>
  <option *ngFor="let project of projects" [ngValue]="project">

    {{project.id}}
    {{project.name}}
    {{project.amount}}
  </option>
</select>

-->
<!-- <div class="client">
  <H4> Liste des Clients</H4>
  <select [(ngModel)]="selected" (change)="clickOnUser()" name="selectUser">
    <option *ngFor="let user of users" [ngValue]="user">
      {{user.id}}
      {{user.firstName}}
      {{user.lastName}}
    </option>
  </select>
  <div>
    <button name="buttonDelete" type="button" (click)="deleteUser()"> Supprimer le client </button>
  </div>
</div> -->


<!--
<H4> Liste des projets du client : {{selected.firstName}}{{selected.lastName}} </H4> -->

<section class="projet">
  <div class="selectProject">
    <select [(ngModel)]="selectedProject" (change)="details()" name="selectProj">
      <option *ngFor="let project of projects" [ngValue]="project" name="optionListe">
        {{project.name}}
      </option>
    </select>
    <!-- div *ngIf="selectedProject?.id -->
    <H4> Infos du projet : </H4>
    <div *ngIf="selectedProject?.id && userClicked; else noproject" class="formProject">
      <form (ngSubmit)="modifyProjectDetails()" class="projetdetails" name="formDetails">

        <input name="name" type="text" [(ngModel)]="selectedProject.name">
        <label> Type du Projet </label>
        <input name="typeProject" type="text" [(ngModel)]="selectedProject.typeProject">
        <label> Montant </label>
        <input name="amount" type="text" [(ngModel)]="selectedProject.amount">
        <label> Date de création </label>
        <input name="dateOpened" type="text" [(ngModel)]="selectedProject.dateOpened">
        <label> Date de clôture </label>
        <input name="dateClosed" type="text" [(ngModel)]="selectedProject.dateClosed">
        <button type="submit">Modifier </button>
      </form>
    </div>
    <ng-template #noproject> Pas de projects</ng-template>
  </div>



  <div class="newProject">
    <button name="buttonNew" type="submit" (click)="newProject()"> Ajouter Un Nouveau Projet</button>

    <form (ngSubmit)="newProject()" class="projetdetails" name="formDetails">
      <label> Nom du Projet </label>
      <input name="name" type="text" [(ngModel)]="project.name">
      <label> Type du Projet </label>
      <input name="typeProject" type="text" [(ngModel)]="project.typeProject">
      <label> Montant </label>
      <input name="amount" type="text" [(ngModel)]="project.amount">
      <label> Date de création </label>
      <input name="dateOpened" type="text" [(ngModel)]="project.dateOpened">
      <label> Date de clôture </label>
      <input name="dateClosed" type="text" [(ngModel)]="project.dateClosed">
      <button type="submit">Modifier </button>
    </form>

  </div>

</section>
