
  .haut{
  display: flex;
  justify-content: center;
  margin-left: -80px;

}
.hautsearch{
display: flex;
  justify-content: center;
  margin-left: -10px;
}



h1{

 text-align: center;
margin-top: 6vh;

}

.mat-row:nth-child(even){
  background-color:rgb(225, 225, 236);
  opacity: 0,6;
  }
